<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <title>[[${pageTitle}]]]</title>
</head>
<body>
<div class="container-fluid">
<div class="text-center"><h2>[[${pageTitle}]]</h2></div>

<form th:action="@{/voitures/save}" method="post" th:object="${voiture}" style="max-width: 500px;margin: 0 auto;">

  <input type="hidden" th:field="*{idVoiture}">
  <input type="hidden" th:field="*{rented}"/>
  <div class="border border-secondary rounded p-3">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Year:</label>
      <div th:class="col-sm-8">
        <input type="number" th:field="*{annee}" class="form-control" required min="1999" max="9999"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Mileage:</label>
      <div th:class="col-sm-8">
        <input type="number" th:field="*{mileage}" class="form-control" required min="0"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Model:</label>
      <div th:class="col-sm-8">
        <input type="text" th:field="*{model}" class="form-control" required minlength="2" maxlength="45"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Licence:</label>
      <div th:class="col-sm-8">
        <input type="text" th:field="*{licence}" class="form-control" required minlength="7" maxlength="25"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Price:</label>
      <div th:class="col-sm-8">
        <input type="number" th:field="*{price}" class="form-control" required min="1"/>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-2">Save</button>
      <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
    </div>
  </div>
</form>


</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script type="text/javascript">
  function cancelForm(){
    window.location = "/voitures"
  }
</script>

</body>
</html>